<!DOCTYPE html>
<html>
<head>
	<title>Diagnosis Survey</title>
	<script src="https://code.jquery.com/jquery-3.3.1.js" type="text/javascript"></script>
	<script src="../libs/dxSurvey/index.js" type="text/javascript"></script>
	<!-- <script src="../libs/dxSurvey/data.json" type="text/javascript"></script> -->
	<script src="../js/jquery.easyModal.js" type="text/javascript"></script>
	<script type="text/javascript" src='../libs/socket.io.js'></script>
	<link rel="stylesheet" href="../libs/dxSurvey/style.css"/>
</head>
<body>
	<div id="header">
		<div id="title"> Diagnosis Consensus Survey </div>
		<div id="downloadLinks"> <span> Download the Diagnosis Table: </span> <a href="../libs/dxSurvey/DiagnosisTable_ForPrint.pdf">Print-Ready PDF</a>  |  <a href="../libs/dxSurvey/DiagnosisTable_Large.pdf">Large PDF</a></div>
		<div id="subtitle"></div>
		<div id="separator"></div>
	</div>
	<div id="outer">
		<div id="inner"></div>
	</div>

</body>
</html>